<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная для всех</title>
</head>
<body>
    <h1>Главная</h1>
    <div th:if="${person}">
        <a th:href="@{/people/{id}(id=${person.getId()})}">
            <button>Редактировать профиль</button>
        </a>
    </div>
    <div th:if="${person}">
        <a th:href="@{/items}">
            <button>Список товаров</button>
        </a>
    </div>
    <div th:if="${person==null}">
        <div>
            <a th:href="@{/auth/login}">
                <button>Войти</button>
            </a>
        </div>
        <br>
        <div>
            <a th:href="@{/auth/registration}">
                <button>Регистрация</button>
            </a>
        </div>
    </div>
</body>
</html>