<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>
    <h1>Admin page</h1>
    <div th:if="${people.size()!=0}">
        <ul th:each="person: ${people}" class="list-group mb-2">
            <li class="list-group-item" aria-current="true">
                <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
                    <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" th:text="${person.getUsername()+' , '+person.getYearOfBirth()}" th:href="@{/people/{id}(id=${person.getId()})}">User</a>
                    <button type="submit">Удалить</button>
                </form>
            </li>
        </ul>
    </div>
    <br>
    <form th:action="@{/logout}" th:method="POST">
        <input type="submit" value="Выйти" />
    </form>
</body>
</html>