<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактировать пользователя из админки</title>
</head>
<body>
    <h2>Редакция</h2>
    <form th:action="@{/people/admin/{id}/edit(id=${person.getId()})}" th:method="POST" th:object="${person}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <label for="username">Введите имя пользователя: </label>
        <input type="text" th:field="*{username}" id="username"/>
        <br/>
        <label for="yearOfBirth">Введите год рождения пользователя: </label>
        <input type="number" th:field="*{yearOfBirth}" id="yearOfBirth"/>
        <br/>
        <label for="password">Введите пароль пользователю: </label>
        <input type="password" th:field="*{password}" id="password"/>
        <br/>
        <input type="submit" value="Изменить"/>
        <div th:if="${param.error}" style="color: red">
            Некорректные данные
        </div>
    </form>
</body>
</html>