<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактировать товар</title>
</head>
<body>
<form th:action="@{/items/{id}(id=${item.getId()})}" th:method="PATCH" th:object="${item}" enctype="multipart/form-data">
    <label for="name">Введите название товара: </label>
    <input type="text" th:field="*{name}" id="name" required/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <br/>
    <label for="description">Введите описание товара: </label>
    <input type="text" th:field="*{description}" id="description" required/>
    <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error
    </div>
    <br/>
    <label for="photo">Выберите изображение:
        <input type="file" name="file" id="photo" required>
    </label><br>
    <button type="submit">Сохранить изменения</button>
</form>
</body>
</html>