<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Товары</title>
</head>
<body>
    <div th:if="${items}">
        <ul th:each="item: ${items}" class="list-group mb-2">
            <li class="list-group-item" aria-current="true">
                <div>
                    <img width="200" height="100" th:src="@{/images/{id}(id=${item.photo})}">
                </div>
                <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" th:text="${item.getName()+' , '+item.getDescription()}">Item</a>
            </li>
        </ul>
    </div>
    <div th:if="${admin}">
        <a th:href="@{/items/add}">
            <button>Добавить товар</button>
        </a>
    </div>
</body>
</html>