<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Инфа о конкретном товаре</title>
</head>
<body>
    <h2 th:text="${item.getName()}"></h2>
    <img width="200" height="100" th:src="@{/images/{id}(id=${item.photo})}">
    <p th:text="${item.getDescription()}"></p>
    <p th:if="${owner}" >Товар забронирован</p>
    <form th:if="${owner==null}" th:action="@{'/items/' + ${item.getId()} + '/booking'}" th:method="POST">
        <button type="submit">Добавить в корзину</button>
    </form>
    <div th:if="${admin}">
        <form th:method="DELETE" th:action="@{/items/{id}(id=${item.getId()})}">
            <button type="submit">Удалить товар</button>
        </form>
    </div>
    <a th:href="@{/items/{id}/edit(id=${item.getId()})}">
        <button>Редактировать</button>
    </a>
</body>
</html>